/* CSS for the index.html */
/* Author: Jiayu Peng */
/* Email:  Jiayup4@illinois.edu */


/* This is just to make things look a bit better */
body {
  font-size: 1.2em;
}

a.navbar-brand {
  font-size: 2em;
}

a.nav-link {
  font-size: 1.4em;
}

h2.subtitle {
  font-size: 1.2em;
  padding-left: 5px;
  color: rgb(99, 95, 95);
}

/* Basic styling for the step links */
a.step-link {
  margin: auto;
  padding: 9px;
  color: #fff;
  background-color: #f0ad4e;
  border-color: #f0ad4e;
  margin-right: 15px;
}

a.step-link:hover, a.active {
  color: rgb(42, 42, 43);
  font-size: 1em;
}

#container{
  margin: auto;
  padding-top: 20px;
  width: 980px;
}

/* Here is our relatively positioned
 * container div to hold the rest of the
 * visualization */
#vis-container {
  position: relative;
  width: 980px;
  height: 700px;
  margin-top: 10px;
}

/* All the .annotation-step divs are inside
 * #annotation-steps. z-index ensures annotations
 * stay on top of visualization. */
#annotation-steps {
  position: absolute;
  z-index: 40;
}

#vis-nav {
  z-index: 20;
}

/* This is where you would create the actual visualization.
 * Right now, lets just change the background color. */
#vis-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: hidden;
  background-color: #eee;

}

/* By default, all annotation-steps are hidden. */
.annotation-step {
  position: absolute;
  display: none;
}

/* Finally we can position each annotation exactly how
 * we want. */
.annotation {
  position: absolute;
}

#step1-left-annotation {
  left: 230px;
  top: 180px;
  width: 200px;

  color: #842029;
  background-color: #f7e1e2;
  border-color: #f2cccf;
}
 
#step1-right-annotation {
  left: 700px;
  top: 270px;
  width:270px;

  /* color: rgb(58, 53, 53);
  background-color: #bcd0c7;
  border-color: #bcd0c7;   */

  /* color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc; */

  color: #2c3034;
  background-color: #e2e3e5;
  border-color: #d3d6d8;

}

#step1-top-annotation {
  left: 420px;
  top: 40px;
  width: 330px;
  font-size: 1.0em;
  font-weight: bold;

  /* color: rgb(58, 53, 53);
  background-color: #bcd0c7;
  border-color: #bcd0c7;   */

  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
}

#step2-center-annotation {
  left: 210px;
  top: 190px;
  width: 240px;

  color: #842029;
  background-color: #f7e1e2;
  border-color: #f2cccf;
}

#step2-top-annotation {
  left: 100px;
  top: 100px;
  width: 330px;
  font-size: 1.0em;
  font-weight: bold;

  /* color: rgb(58, 53, 53);
  background-color: #bcd0c7;
  border-color: #bcd0c7;   */

  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
}

#step3-high-annotation {
  left: 120px;
  top: 220px;
  width: 320px;

  color: #842029;
  background-color: #f7e1e2;
  border-color: #f2cccf;
}

/* #step3-low-annotation {
  left: 730px;
  top: 550px;
  width: 200px;
} */


#step3-top-annotation {
  left: 100px;
  top: 100px;
  width: 330px;
  font-size: 1.0em;
  font-weight: bold;


  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
}

/* -------------------- TOOLTIP ------------------ */

.data-tooltip{
  color: black;
  background-color: white;
  background: white;
  align-content: center;
  margin-right: 10%;
  margin-left: 10%;
}

.tooltip.show {
    opacity: 1;
    background-color: white;
    border: green;
}

.post-meta-top {
  padding-bottom: 20px;
  margin: 0 0 38px 0;
  border-bottom: 1px solid rgba(200, 215, 225, 0.5);
}

/* clock icon */
#wpcom-comments-date .icon {
  fill: #0e079a;
  width: 14px;
  height: 14px;
  position: relative;
  top: 0px;
  margin-right: 10px;
  
}

.post-meta-top .post-author-name, .post-meta-top .time {
  position: relative;
  top: 0.25em;
  font-size: 1.0em;
  line-height: 1.6em;
  margin-bottom: 1.6em;
  color: #87a6bc;
  text-align: left;
}

#wpcom-comments-date div, #wpcom-comments-date a {
  font-size: 14px;
  color: #87a6bc;
  text-align: left;
}

#jp-relatedposts {
  clear: both;
  margin: 30px 0 0 0 !important;
  padding-top: 30px !important;
  border-top: 1px solid rgba(200, 215, 225, 0.5);
}

.post-meta-top .avatar {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  float: left;
  margin-right: 12px;
}

